* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.push_content {
    padding-left: 60px;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    padding: 0;
    margin: 0;
}

.btn_reset {
    border: 0;
    background: transparent;
}

.audio_progress_container {
    position: relative;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    height: 10px;
    display: flex;
    align-items: center;
}

.progress_icon {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid springgreen;
    animation: spinner 2s linear infinite;
    transition: all .4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress_icon:after {
    content: "";
    width: 10px;
    height: 10px;
    background: springgreen;
    transform: rotate(45deg);
    
}

.audio_progress_bar {
    width: 100%;
    height: 2px;
    background: black;
}


.need_connection_container {
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connect_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.connection_text {
    color: white;
    margin-left: 20px;
    line-height: 180%;
}

.connectionImg {
    width: 150px;
}



@media only screen and (min-width:750px) {
    
}

@media only screen and (min-width: 1024px) {
    .push_content {
        padding-left: 230px;
    }
}