.searchMenu{
    position: relative;
    z-index: 10;
}
.searchMenu .searchBar{
    position: relative;
    display: inline-block;
    width: calc(100% - 44px);
    height: 30px;
    padding: 10px;
    margin: 10px;
    border: 2px solid rgba(0,0,0,.9);;
    border-radius: 30px;
    background: rgba(25,25,25,.9);
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    z-index: 1
}
.searchMenu .searchBar>input{
    position: absolute;
    width: calc(100% - 99px);
    left: 20px;
    top: calc(50% - 7.5px);
    font-size: 15px;
    background: rgba(10, 9, 9, 0);
    color: #fff;
    border: none;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}

.searchMenu .searchBar>input:focus{
    outline: none;
    /* width: 355px; */
}
.searchMenu .searchBar>input::placeholder{
    color: #aaaaaa;
}