.track_object{
    display: inline-block;
    width: 45%;
    margin-left: .4em;
    margin-right: .4em;
    margin-bottom: 10px;
}
.tracks_header{
    color: white;
    text-align: center;
}

.track_item{
    height: 140px;
    width: 140px;
    /* border: white solid 1px; */
    display: inline-block;
    text-align: center;
    background-position: center;
    background-size: cover;
}


.track_info{
    margin: auto;
    text-align: center;
    width: 120px;
    /* line-height: 180%; */

}

.track_name{
    color: white;
    font-size: 14px;
    height: 1em;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.track_artist{
    font-size: 12px;
    color: #b6b6b6;
    height: 1em;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (min-width: 500px) {
    .track_object{
        display: inline-block;
        width: 30%;
        position: relative;
        margin-bottom: 25px;
    }

    .track_object:before{
        content: "";
	    display: block;
	    padding-top: 100%; 
    }

    .track_item{
        position:  absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height:80%;
        width: 100%;
    }
}

@media only screen and (min-width: 900px){
    .track_item{
        margin: 0px 10px 0px 0px;
        /* height: 250px; */
        width: 100%;
        /* border: white solid 1px; */
        display: inline-block;
        background-size: cover;
        background-position: center;
    }

    .track_info{
        width: 100%;
        /* line-height: 180%; */
    
    }

    .tracks_header{
        text-align: left;
        margin: 20px;
    }

    .track_image{
        height: 250px;
        width: 250px;
    }
    
    .track_object{
        width: 23%;
    }

    .track_name{
        font-size: 20px
    }

    .track_artist{
        font-size: 18px;
    }
}